.bg-multi-dot {
  background: $multi-dot;
  background-repeat: 20px/20px repeat;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}

.chunky-shadow {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.grayscale {
  filter: grayscale(100%);
}

.overlay-purple {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(167, 76, 201, 0.6);
    transition: all 0.5s ease 0s;
  }
  &:hover:after {
    background: rgba(167, 76, 201, 0.8);
  }
}
