<section class="container mt-8">
  <div [style.display]="selected ? 'block' : 'none'">
    <!-- Content from the CdkStep is projected here -->
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>

  <footer class="step-navigation-bar mt-8">
    <button class="nav-button rotate-180 focus:outline-none" cdkStepperPrevious>
      <app-button-arrows></app-button-arrows>
    </button>
    <button
      class="step bg-multi-dot rounded-full w-8 h-8 mx-2 transition-500 focus:outline-none"
      *ngFor="let step of steps; let i = index"
      [ngClass]="{ 'border-4 border-pink w-10 h-10': selectedIndex === i }"
      (click)="onClick(i)"
    >
      {{ i + 1 }}
    </button>
    <button class="nav-button focus:outline-none" cdkStepperNext>
      <app-button-arrows></app-button-arrows>
    </button>
  </footer>
</section>
