<span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="9.581"
    height="16.241"
    viewBox="0 0 9.581 16.241"
  >
    <path
      d="M0,0,6.4,6.473,0,14.232"
      transform="translate(1.157 1.055)"
      fill="none"
      stroke="#fff"
      stroke-width="3"
    />
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="9.581"
    height="16.241"
    viewBox="0 0 9.581 16.241"
  >
    <path
      d="M0,0,6.4,6.473,0,14.232"
      transform="translate(1.157 1.055)"
      fill="none"
      id="second"
      stroke="rgba(255,255,255,0.7)"
      stroke-width="3"
    />
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="9.581"
    height="16.241"
    viewBox="0 0 9.581 16.241"
  >
    <path
      d="M0,0,6.4,6.473,0,14.232"
      transform="translate(1.157 1.055)"
      fill="none"
      id="third"
      stroke="rgba(255,255,255,0.4)"
      stroke-width="3"
    />
  </svg>
</span>
