<app-container-full [multiDot]="true">
  <h1>Testimonials</h1>
</app-container-full>
<app-container-medium>
  <app-video-player videoId="{{ currentVideoDetails?.id }}"></app-video-player>
  <app-speech-bubble cite="{{ currentVideoDetails?.author }}">
    <p>
      {{ currentVideoDetails?.quote }}
    </p>
  </app-speech-bubble>
  <h2 class="mb-4">Leave a Comment</h2>
  <app-comment-form></app-comment-form>
  <app-comments [comments]="currentVideoDetails?.comments"></app-comments>
</app-container-medium>
<app-divider></app-divider>
<app-container-large>
  <h2>More Testimonials</h2>
  <div class="flex justify-center">
    <article *ngFor="let video of otherVideos" class="m-2">
      <a href="testimonials/{{ video.id }}">
        <figure class="overlay-purple relative">
          <img
            src="{{ video.thumbnail }}"
            alt="Video thumbnail of {{ video.author }}"
            class="w-40 grayscale"
          />
        </figure>
      </a>
    </article>
  </div>
</app-container-large>
