.testimonial-preview {
    position: relative;
    svg {
        transition: all 0.5s ease 0s;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }
    &:hover svg {
        transform: scale(1.2);
    }
}

figure {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(167, 76, 201, 0.6);
  }
}
